body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1712;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-left img {
    width: 85px;
    margin: 15px 25px;
}

.navbar-center a {
    margin: 0 35px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-center a:hover {
    border: 2px solid #c28a5d;
    border-radius: 25px;
    padding: 12px 25px;
}

.navbar-right a {
    padding: 12px 25px;
    border: 2px solid #c28a5d;
    margin-right: 25px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    padding: 0 305px;
}

.hero-left h1 {
    font-size: 90px;
    margin: 0px 0px 20px 0px;
}

.hero-left p {
    font-size: 32px;
    margin-bottom: 30px;
    line-height: 1.3;
}

.shop-btn {
    padding: 12px 35px;
    border: 1px solid #c28a5d;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.hero-right img {
    width: 550px;
    height: 500px;
    padding: 0px 75px 85px 0px;
}

/* SLIDER DOTS */
.dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

.dot {
    width: 90px;
    height: 4px;
    background: #4e4e4e;
    border-radius: 10px;
}

.active {
    background: #c28a5d;
}

/* OUR SERVICE */
.services {
    padding: 0px 60px;
    text-align: center;
}

.services h2 {
    font-size: 40px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.card {
    background: #2a1f1a;
    border: 1px solid #604436;
    border-radius: 12px;
    padding-bottom: 25px;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #c28a5d;
}

.card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.card h3 {
    margin: 18px 0;
    font-size: 18px;
    color: white;
}

.arrow {
    border: 1px solid #c28a5d;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #c28a5d;
}

/* ABOUT US SECTION */
.about-section {
    padding: 25px 60px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0 60px;
    text-align: justify;
}

.about-left img {
    width: 475px;
}

/* Right Box */
.about-right {
    background: #2a1f1a;
    border: 1px solid #4a3328;
    padding: 50px;
    border-radius: 12px;
    margin-right: 120px;
}

.about-right h2 {
    font-size: 38px;
    margin: 0px;
    letter-spacing: 2px;
}

.about-right p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.about-btn {
    padding: 12px 35px;
    border-radius: 30px;
    border: 1px solid #c28a5d;
    color: white;
    text-decoration: none;
}

/* FAQ SECTION */
.faq-section {
    padding: 0px 150px;
    color: #fff;
}

.faq-title {
    text-align: center;
    font-size: 38px;
    letter-spacing: 2px;
}

.faq-item {
    background: #2a1f1a;
    border: 1px solid #5a3f32;
    border-radius: 12px;
    margin-bottom: 20px;
}

.faq-question {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    padding: 22px 30px;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question:hover {
    background: #3a2a22;
    border-radius: 12px;
}

.faq-icon {
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: #2a1f1a;
    padding: 0 30px;
    line-height: 1.6;
    transition: max-height 0.4s ease, padding 0.3s ease;
    color: #d9d4d2;
    font-size: 15px;
}

.faq-item.active .faq-answer {
    padding: 20px 30px;
    max-height: 300px;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
    content: "-";
}

/* CONTACT SECTION */
.contact-section {
    padding: 54px 240px;
    color: white;
}

.contact-box {
    background: #2a1f1a;
    border: 1px solid #4a3328;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contact-left {
    width: 40%;
}

.contact-left h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

.info {
    margin: 5px 0;
    line-height: 1.6;
    font-size: 14px;
    color: #e2dfdc;
}

/* Right Side Form */
.contact-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contactForm {
    width: 75%;
}

#contactForm input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #c28a5d;
    padding: 10px 0;
    margin-bottom: 25px;
    color: white;
}

#contactForm input::placeholder {
    color: #d9d4d2;
}

.submit-btn {
    padding: 12px 35px;
    border: 1px solid #c28a5d;
    border-radius: 30px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid #c28a5d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 0px;
}

.icon:hover {
    background: #c28a5d;
    color: #1b1b1b;
}

/* Success message */
.success-message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #c28a5d;
    display: none;
}

/*    AUTHORIZED BRANDS SECTION  */

.brands-section {
    padding-bottom: 50px;
    text-align: center;
}

.brands-section h2 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.brands-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.brand-card {
    background: #2a1f1a;
    border: 1px solid #604436;
    padding: 25px;
    border-radius: 12px;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-card img {
    width: 80%;
    height: auto;
}


/*             FOOTER               */

.site-footer {
    background: #1f1712;
    padding: 60px;
    padding-bottom: 0px;
    border-top: 1px solid #3a2a25;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 25px;
    margin-left: 55px;
}

.footer-social a {
    display: inline;
    width: 38px;
    height: 38px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #c28a5d;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.footer-social a:hover {
    background: #c28a5d;
    color: #1b1b1b;
}

/* Footer Columns */
.footer-links h3,
.footer-contact h3,
.footer-newsletter h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-links a {
    display: block;
    margin-bottom: 12px;
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    color: #c28a5d;
}

.footer-contact p {
    margin: 10px 0;
    color: #e2dfdc;
}

/* Newsletter */
.newsletter-box {
    display: flex;
    align-items: center;
    border: 1px solid #c28a5d;
    border-radius: 8px;
    overflow: hidden;
    width: 260px;
}

.newsletter-box input {
    flex: 1;
    padding: 10px;
    background: transparent;
    border: none;
    color: white;
}

.newsletter-box input::placeholder {
    color: #d9d4d2;
}

.search-btn {
    background: transparent;
    border: none;
    padding: 10px 15px;
    color: #c28a5d;
    cursor: pointer;
}

.footer-bottom-text {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #c8c8c8;
    border-top: 1px solid #3a2a25;
    padding-top: 20px;
}